# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Node / React
frontend/react-app/node_modules/
frontend/react-app/build/
frontend/react-app/.env
frontend/react-app/.cache/

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# ML / Data files
data/
outputs/
models/
checkpoints/
